


<div class="container" style="margin-top: 150px">
 
 
 
  <div class="row" >
    <section class="our-courses" id="courses">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-3">
            <div class="section-heading">
              <h4>Publication créé <em>Par</em></h4>
              <h3>{{ post?.users.username }}</h3>
              <h3 style="cursor: pointer; margin-top: 10px;" (click)="generarPDF()" id="donwloadpdf">Vous pouvez imprimer cette publication en fichier PDF <svg xmlns="http://www.w3.org/2000/svg" style="color: green !important;" width="30" height="30" fill="currentColor" class="bi bi-cloud-download-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 0a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 4.095 0 5.555 0 7.318 0 9.366 1.708 11 3.781 11H7.5V5.5a.5.5 0 0 1 1 0V11h4.188C14.502 11 16 9.57 16 7.773c0-1.636-1.242-2.969-2.834-3.194C12.923 1.999 10.69 0 8 0zm-.354 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V11h-1v3.293l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
              </svg></h3>
              <div class="main-button-gradient"  *ngIf="accesPost" (click)="updatePub()" >
                <div class="scroll-to-section"><a >Modifier</a></div>
              </div>
     
            </div>
          </div>
          <div class="col-lg-12">
            <div class="naccs">
              <div class="tabs">
                <div class="row">
                  <div class="col-lg-3">
                    <div class="menu">
 
                    </div>
                  </div>
                  <div class="col-lg-9"  id="content">
                    <ul class="nacc">
                      <li class="active">
                        <div>
                          <div class="left-image">
                            <img src="assets/images/courses-01.jpg" alt="">
                            <div *ngIf="accesPost" class="price" style="color : red !important; cursor: pointer;" (click)="deletePostById()" ><h6><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                              <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                            </svg></h6></div>
                          </div>
                          <div class="right-content">
                            <div   class="row"  >
                              <div class="col-8"      >
                      


                              </div>
                              <div class="col-4" style="text-align: center;color: darkgreen;cursor: pointer;" (click)="addLike()" *ngIf="!likePost">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                                  <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                                </svg>
                              </div>
                              <div class="col-4" style="text-align: center;color: darkgreen;cursor: pointer;"    (click)="deleteLike()" *ngIf="likePost">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-down-fill" viewBox="0 0 16 16">
                                  <path d="M6.956 14.534c.065.936.952 1.659 1.908 1.42l.261-.065a1.378 1.378 0 0 0 1.012-.965c.22-.816.533-2.512.062-4.51.136.02.285.037.443.051.713.065 1.669.071 2.516-.211.518-.173.994-.68 1.2-1.272a1.896 1.896 0 0 0-.234-1.734c.058-.118.103-.242.138-.362.077-.27.113-.568.113-.856 0-.29-.036-.586-.113-.857a2.094 2.094 0 0 0-.16-.403c.169-.387.107-.82-.003-1.149a3.162 3.162 0 0 0-.488-.9c.054-.153.076-.313.076-.465a1.86 1.86 0 0 0-.253-.912C13.1.757 12.437.28 11.5.28H8c-.605 0-1.07.08-1.466.217a4.823 4.823 0 0 0-.97.485l-.048.029c-.504.308-.999.61-2.068.723C2.682 1.815 2 2.434 2 3.279v4c0 .851.685 1.433 1.357 1.616.849.232 1.574.787 2.132 1.41.56.626.914 1.28 1.039 1.638.199.575.356 1.54.428 2.591z"/>
                                </svg>
                              </div>


                            </div>
                            <h4>{{ post?.title }}</h4>
                            <p>{{ post?.description }} 
                            <br><br>{{ post?.content }}</p>
                            <span> {{post?.likings.length}} J'aime</span>
                              
                            <span class="last-span">{{post?.views}} views</span>
                            <div class="text-button abon-btn" *ngIf="accessAbon && btnAbonner">
                              <a (click)="addAbonnement()" >Abonné {{ post?.users.username }}  </a>
                            </div>
                            <div class="text-button abon-btn" *ngIf="accessAbon && !btnAbonner">
                              <a (click)="deleteAbonnement()" >Annuler l'abonnement {{ post?.users.username }}  </a>
                            </div>
                            <div class=" " >
                              <div class="section-heading" style="text-align: left !important;">
                             
                                <h6  (click)="opennAllCommentsSection()"  >Affichier les commantaires</h6>
                              
                       
                              </div>
                              <div class="section-comment" *ngIf="openAllComments" >
                                <div class="row" >
                                  <div class="col-8">
                                    <input class="input-comment" [(ngModel)]="commentText" />
                                  </div>
                                  <div class="col-4">
                                    <div class="white-button" (click)="saveComment() " style="margin-top: -9px;" >
                                      <a >Commenter</a>
                                    </div>
                               
                                  </div>
                                </div>
                             

                                <div class="row"  *ngFor="let comment of comments">
                                  <div class="col-10">
                                    <p style="font-size: 15px; font-weight: 600; " >{{ comment.users.username }}</p>
                                    <div class="row"   *ngIf="openCommentSection," >
                                      <div class="col-8" >
                                        <input class="input-comment" [(ngModel)]="commentTextUpdate"/>
                                      </div>
                                      <div class="col-4" >
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16"   (click)="updateComment(comment.id)">
                                          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                        </svg>
                                      </div>

                                    </div>
                              

                                  
                                    <p *ngIf="!openCommentSection"  style="margin-top: -10px;" >{{ comment.text }}</p>

                                  </div>
                                  <div class="col-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16" (click)="openUpdateComment( comment.text)" >
                                      <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                    </svg>
                                  </div>
                                  <div class="col-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16" (click)="deleteComment(comment.id)" >
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                    </svg>
                                  </div>
                                </div>
                                <div>
                               
                                  
                                </div>
                              
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      
                  
                      </ul> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  
</div>
  </div>

  
<div style="height: 200px;" >

</div>